{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}


    <p>
        Thanks for playing the game! To help with my study, I'd like to collect a bit information.
        It will be kept confidential and only reported in the aggregate so please answer as competely and honestly as you can.
    </p>
    <p>

    </p>
    <p>
        Please answer the following questions.
    </p>


    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}
