{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}


     <p>
        One more page to go! There are a lot of questions, but they're fast, so try to answer all of them!
{#        Additionally, you will be rewarded with 1 point for answering all of the questions.#}

    </p>
    <p>
        Please indicate how much you agree with each statement
    </p>

     <p>
         <strong>I am someone who...</strong>

    </p>


    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}
