{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
{#<p>#}
{#    This is a game with 2 players.Hello, {{ player.participant.vars.e1}}  {{ player.participant.vars.e2}}  {{ player.participant.vars.m}}#}
{#    {{ player.round_number }}#}
{#    treat_type {{  player.participant.vars.treatment_order }}#}
{#</p>#}

    <p>
   This is a game with 2 players.
   <br>
   Paramaters for this round:
       <br>    Player 1's Endowment:           {{ player.participant.vars.e1}}
       <br>    Player 2's Endowment:           {{ player.participant.vars.e2}}
       <br>    Multiplier:           {{ player.participant.vars.m}}
{#       <br>    Round Number:           {{ player.round_number }}#}
{#       <br>    treatment_order array (static over 5 rounds):  {{  player.participant.vars.treatment_order }}#}
   <br><br>

</p>
<p>Instructions for this round:</p>
    <p></p>
<p>
    To start, Player 1 receives {{ player.participant.vars.e1 }};
    Player 2 receives {{ player.participant.vars.e2 }}.
    Player 1 can send some or all of their {{ player.participant.vars.e1}} to Player 2.
    Before Player 2 receives these points they will be multiplied by {{ player.participant.vars.m }}.
    Player 2 decides how they would respond to each possible action from Player 1, and their responses are matched to
    Player 1's actual choice to determine payoffs.
</p>

</div>
