{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}

    {% include 'my_trust/Instructions.html' %}

{% if player.id_in_group == 1 %}
    <p>
    You are <strong>P1</strong>. Now you have <strong>{{ participant.vars.e1 }}</strong>.
    </p>

    {% formfield group.sent_amount label="How much do you want to send to P2?" %}

    {% next_button %}
{% else %}

    <p>
        You are <strong>P2</strong>.
    </p>

    <p>
        <strong>P1</strong> will send you some of their points, which will be multiplied by <strong>{{ participant.vars.m }}</strong>.
    </p>
    <p>
       For each hypothetical outcome, please describe how you would respond.
       Your response will be matched with <strong>P1</strong>’s actual choice to determine your payoffs:
    </p>

{#    <p>#}
{#        Please choose below how mcuh you would like to send back in each scenario:#}
{#    </p>#}


   {% if number_of_fields >= 1 %}     {% formfield group.response_0 label=response_00_label %}   {% endif %}
   {% if number_of_fields >= 2 %}     {% formfield group.response_1 label=response_01_label %}   {% endif %}
   {% if number_of_fields >= 3 %}     {% formfield group.response_2 label=response_02_label %}   {% endif %}
   {% if number_of_fields >= 4 %}     {% formfield group.response_3 label=response_03_label %}   {% endif %}
   {% if number_of_fields >= 5 %}     {% formfield group.response_4 label=response_04_label %}   {% endif %}
   {% if number_of_fields >= 6 %}     {% formfield group.response_5 label=response_05_label %}   {% endif %}
   {% if number_of_fields >= 7 %}     {% formfield group.response_6 label=response_06_label %}   {% endif %}
   {% if number_of_fields >= 8 %}     {% formfield group.response_7 label=response_07_label %}   {% endif %}
   {% if number_of_fields >= 9 %}     {% formfield group.response_8 label=response_08_label %}   {% endif %}
   {% if number_of_fields >= 10 %}    {% formfield group.response_9 label=response_09_label %}   {% endif %}
   {% if number_of_fields >= 11 %}    {% formfield group.response_10 label=response_10_label %}  {% endif %}
   {% if number_of_fields >= 12 %}    {% formfield group.response_11 label=response_11_label %}  {% endif %}
   {% if number_of_fields >= 13 %}    {% formfield group.response_12 label=response_12_label %}  {% endif %}
   {% if number_of_fields >= 14 %}    {% formfield group.response_13 label=response_13_label %}  {% endif %}
   {% if number_of_fields >= 15 %}    {% formfield group.response_14 label=response_14_label %}  {% endif %}
   {% if number_of_fields >= 16 %}    {% formfield group.response_14 label=response_15_label %}  {% endif %}

   {% next_button %}



{% endif %}
{% endblock %}
