{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your Response
{% endblock %}

{% block content %}

    {% include 'my_trust/Instructions.html' %}

    <p>
        You are the <strong>responder</strong>.
    </p>

    <p>
        The proposer will send you a gift, which will be multiplied by {{ Constants.multiplication_factor }}.
    </p>

    <p>
        Please choose below how you would respond to each of the possible
        offers.
    </p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}