{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
{#<p>#}
{#    This is a game with 2 players.Hello, {{ player.participant.vars.e1}}  {{ player.participant.vars.e2}}  {{ player.participant.vars.m}}#}
{#    {{ player.round_number }}#}
{#    treat_type {{  player.participant.vars.treatment_order }}#}
{#</p>#}

    <p>
   This is a game with 2 players.
</p>

<p>
    To start, Player 1 receives an endowment;
    Player 2 receives a different endowment.
    Player 1 can send some or all of their endowment to Player 2.
    Before Player 2 receives these points they will be multiplied by some number.
    Player 2 decides how they would respond to each possible action from Player 1, and their responses are matched to
    Player 1's actual choice to determine payoffs for that round.
    At the end of the game, one round will be chosen at random to determine a player's winnings. Each point corresponds to $0.25
</p>

</div>


