{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>


{#    <p>#}
{#   This is a game with 2 players.#}
{#</p>#}

<p>
    To start,  <strong>Player 1</strong> (<strong>P1</strong>) receives an endowment;
     <strong>Player 2</strong> (<strong>P2</strong>) receives a different endowment.
    <strong>P1</strong> can send some or all of their endowment to <strong>P2</strong>.
    Before <strong>P2</strong> receives these points they will be multiplied by some number.
    <strong>P2</strong> decides how they would respond to each possible action from <strong>P1</strong>, and their responses are matched to
    <strong>P1</strong>'s actual choice to determine payoffs for that round.
    At the end of the game, one round will be chosen at random to determine a player's winnings.
    Each point corresponds to <strong>$0.25</strong>.
</p>

</div>


