{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Practice
{% endblock %}


{% block content %}


    {% include 'trust_tutorial/Directions.html' %}


<p>
    To make sure you understand the game, you will first do a couple of practice problems
</p>


<p>
Suppose that the multiplication factor is <strong>2</strong> , <strong>P1</strong>'s
    endowment is <strong>12</strong> and  <strong>P2</strong>'s endowment is <strong>9</strong>.
    If <strong>P1</strong> sends <strong>6</strong> of their points to <strong>P2</strong>, how much does each player have before <strong>P2</strong> sends anything back?
</p>
    {% formfield player.answer1 %}

    {% formfield player.answer2 %}
<p>

{#Suppose that P2 sends back {{ participant.vars.question_numbers.4 }} points. How much does each player have after P2 does this?#}

Suppose that  <strong>P2</strong> sends back <strong>4</strong> points. How much does each player have after  <strong>P2</strong> does this?
</p>
    {% formfield player.answer3 %}
    {% formfield player.answer4 %}




{% next_button %}
{% endblock %}


{#<p>#}
{#Suppose that the multiplication factor is 2, P1's#}
{#    endowment is  10 and P2's endowment is 5.#}
{#    If P1 sends 3 of their points to P2. How much does each player have before P2 sends anything back? #}
{#</p>#}